:root {
    --primary-white-bgcolor: #FFFFFF;
    --secondary-bg-color: #2F303A;
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --hover-text-color: #2196F3;
    --part-logo-color: #2196F3;
    --border-gallery-color: #EEEEEE;
}

/* ................PAGES................ */

/* .page-studio,.page-portfolio - классы для body*/
.page-studio,
.page-portfolio {
    color: var(--primary-text-color);
    background-color: var(--primary-white-bgcolor);
}

/* скрываем точки у списков всех страниц */
.list {
    list-style: none;
}

/* ...HEADER для всех страниц... */

/* logo header*/
header .logo-upper {
    color: #000000;
}

.logo-upper .accent {
    color: var(--part-logo-color);
}

/* navigation list */
.site-nav .link {
    color: var(--primary-text-color);
}

/* ховер на линки страниц */
.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--hover-text-color);
}

/* 'эфект текущей страницы */
.site-nav .link.current {
    color: var(--hover-text-color);
}

/* contacts */

header .contact-item {
    color: #757575;
}

/* ховер на контакты */
header .contact-item:hover,
header .contact-item:focus {
    color: var(--hover-text-color);
}

/* ...........MAIN для страницы Студио...........  */
/* ..Секция герой.. */

.hero {
    background-color: var(--secondary-bg-color);
}

/* Заголовок героя */
.hero>.hero-title {
    color: #FFFFFF;
}

/* Кнопка  */
.hero>button {
    color: #FFFFFF;
    background-color: #2196F3;
}

/* активизация фона кнопки при нажатии */
.hero>button:hover,
.hero>button:focus {
    background-color: #188CE8;
}

/* ...Секция Наши преимущества... */

/* cкрытый заголовок */
.features-title {
    display: none;
}

/* преимущества-текст */
.features-text {
    color: var(--secondary-text-color);
}

/* ...Секция чем мы занимаемся... */

/* ...Секция Наша команда... */
/* цвет фона */
.team {
    background-color: #F5F4FA;
}

/* цвет карточек */
.team .team-item {
    background-color: var(--primary-white-bgcolor);
}

/* должность в команде  */
.team-item>.team-position {
    color: #757575;
}

/* ...Подвал в сайте всех страниц... */
footer {
    background-color: var(--secondary-bg-color);
}

/* logo-footer */

.data>.logo-down {
    color: #FFFFFF;
}

.logo-down .accent {
    color: var(--part-logo-color);
}

/* Адресс */
.data-address {
    color: #FFFFFF;
}

/* контакты */
.data-address>.contact-address {
    color: rgba(255, 255, 255, 0.6);
}

/* .................PORTFOLIO PAGE................. */

/* MAIN на странице с портфолио */
/* скрытый заголовок */
.gallery>.gallery-title {
    display: none;
}

/*фильтр-кнопки на галерею */
.filter .filter-item {
    color: var(--primary-text-color);
    background-color: #F5F4FA;
}

.filter .filter-item:hover,
.filter .filter-item:focus {
    color: #FFFFFF;
    background-color: #2196F3;
}

/* подзаголовок для каждой марки */

.gallery-item .gallery-subtitle {
    color: var(--primary-text-color);
}

.gallery-item .gallery-text {
    color: var(--secondary-text-color);
}